<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Takobox{% endblock %}</title>
    <link href="/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/alpine-morph.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {%- block head %}{% endblock %}
  </head>
  <body class="h-screen text-sm text-slate-700">
    <noscript class="flex absolute inset-x-0 top-0 items-center py-3 px-4 text-white bg-red-400">Please enable JavaScript in your browser's settings.</noscript>
    {%- block body %}{% endblock %}
  </body>
</html>
