    <nav class="flex gap-4 justify-between items-center p-4 mx-auto max-w-5xl text-base bg-white">
      <a href="/" class="text-xl font-semibold">Tako<span class="text-orange-300">box</span></a>
      <div class="flex gap-4 justify-end items-center">
        {%- match user %}
        {%- when Some with (user) %}
        <span>Logged in as {{ user.username }}</span>
        <a href="/logout" class="btn btn-secondary">Log out</a>
        {%- when None %}
        <a href="/register" class="btn btn-primary">Create an Account</a>
        <a href="/login" class="btn btn-secondary">Log In</a>
        {%- endmatch %}
      </div>
    </nav>
