{
	servers {
		trusted_proxies static private_ranges
	}
}

{$BASE_URL} {
	route {
		reverse_proxy /api/* http://takobox_server:8000
		reverse_proxy /docs* http://takobox_server:8000

		handle_path /thumbs/* {
			file_server {
				root /srv/takobox/thumbs
			}
		}

		@uploads file {
			root /srv/takobox/uploads
		}
		route @uploads {
			@uploads_html path *.html *.htm *.xhtml *.xht *.xml *.svg
			header X-Content-Type-Options nosniff
			header @uploads_html Content-Type "text/plain; charset=utf-8"

			file_server {
				root /srv/takobox/uploads
			}
		}

		reverse_proxy http://takobox_web:3000
	}
}
