{
	admin off

	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
	}
}

:80 {
	route {
		@backend path /api/* /docs*
		reverse_proxy @backend {$TAKOBOX_SERVER_UPSTREAM:127.0.0.1:8000} {
			header_up X-Forwarded-For {client_ip}
		}

		handle_path /thumbs/* {
			file_server {
				root {$TAKOBOX_DATA_DIR:/takobox_data}/thumbs
			}
		}

		@uploads file {
			root {$TAKOBOX_DATA_DIR:/takobox_data}/uploads
		}
		route @uploads {
			@uploads_html path *.html *.htm *.xhtml *.xht *.xml *.svg
			header X-Content-Type-Options nosniff
			header @uploads_html Content-Type "text/plain; charset=utf-8"

			file_server {
				root {$TAKOBOX_DATA_DIR:/takobox_data}/uploads
			}
		}

		reverse_proxy {$TAKOBOX_WEB_UPSTREAM:127.0.0.1:3000} {
			header_up X-Forwarded-For {client_ip}
		}
	}
}
