@import "tailwindcss" source("./");
@import "tw-animate-css";

@theme {
  --font-sans: "Rubik", "sans-serif";

  --color-background: #fff;
  --color-foreground: var(--color-zinc-700);
  --color-popover: var(--color-background);
  --color-popover-foreground: var(--color-foreground);

  --color-primary: oklch(0.85 0.11 70);
  --color-primary-foreground: var(--color-zinc-700);
  --color-accent: var(--color-zinc-100);
  --color-accent-foreground: var(--color-zinc-700);
  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: #fff;
  --color-muted: var(--color-zinc-200);

  --color-border: --alpha(var(--color-black) / 10%);
  --color-input: var(--color-border);
  --color-ring: var(--color-foreground);
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border;
  }

  body {
    @apply h-dvh bg-background text-sm text-foreground;
  }

  svg {
    @apply shrink-0;
  }
}
