{% extends "base.html" %}

{% block title %}Takobox{% endblock %}

{% block body %}
    {%~ include "nav.html" %}
    <main class="flex flex-col gap-6 items-center py-48 px-4 mx-auto max-w-5xl">
      <h1 class="text-5xl font-semibold">Tako<span class="text-orange-300">box</span></h1>
      <h2 class="flex flex-col text-lg text-center">
        <span>A simple, self-hostable file upload service</span>
      </h2>
      <div class="flex flex-row gap-4">
        {%- if user.is_some() %}
        <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
        {%- else %}
        <a href="/login" class="btn btn-primary">Log In</a>
        {%- endif %}
      </div>
    </main>
{%- endblock %}
