{% extends "base.html" %}

{% block title %}Register | Takobox{% endblock %}

{% block body %}
    <main class="flex justify-center items-center h-full">
      <form {# -#}
        class="flex flex-col gap-6 p-4 w-full max-w-sm" {# -#}
        hx-post="/register" {# -#}
        hx-target="#fields" {# -#}
        hx-ext="alpine-morph" {# -#}
        hx-swap="morph" {# -#}
      >
        <h1 class="text-3xl">Register</h1>
        {%~ include "auth-fields.html" %}
        <input class="btn btn-primary" type="submit" value="Create Account">
        <a href="/" class="self-center hover:underline">Back home</a>
      </form>
    </main>
{%- endblock %}
