{% extends "base.html" %}

{% block title %}Register | Takobox{% endblock %}

{% block body %}
    <main class="flex justify-center items-center h-full">
      <form
        class="flex flex-col gap-6 p-4 w-full max-w-sm"
        hx-post="/register"
        hx-target="#error"
        hx-disabled-elt="input[type='submit']"
      >
        <h1 class="text-3xl">Register</h1>
        <span class="flex items-center py-2 px-4 h-10 text-white bg-red-400 rounded empty:hidden" id="error"></span>
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <label for="username">Username</label>
            <input class="form-input" type="text" id="username" name="username" required">
          </div>
          <div class="flex flex-col gap-2">
            <label for="password">Password</label>
            <input class="form-input" type="password" id="password" name="password" required>
          </div>
        </div>
        <input class="btn-primary" type="submit" value="Log in">
      </form>
    </main>
{%- endblock %}
