        <div class="flex flex-col gap-4" id="fields">
          <div class="flex flex-col gap-2">
            <label for="username">Username</label>
            <input class="form-input{% if errors.username.is_some() %} bg-red-100 border-red-500{% endif %}" type="text" name="username" required>
            {%- match errors.username %}
            {%- when Some with (error) %}
            <span class="text-red-500">{{ error }}</span>
            {%- when None %}
            {%- endmatch %}
          </div>
          <div class="flex flex-col gap-2">
            <label for="password">Password</label>
            <input class="form-input{% if errors.password.is_some() %} bg-red-100 border-red-500{% endif %}" type="password" name="password" required>
            {%- match errors.password %}
            {%- when Some with (error) %}
            <span class="text-red-500">{{ error }}</span>
            {%- when None %}
            {%- endmatch %}
          </div>
        </div>
